<main>
    <section class="team-section text-center pt-5 full-bg-img" style="background-color:rgb(3, 14, 29);">
        <div class="container-fluid py-5">

            <!-- Grid row -->
            <div class="row my-3">

                <!-- Grid column -->
                <div class="col-lg-2 col-md-4 block-example border-right border-dark">
                    <div class="avatar my-2">
                        <img src="../../assets/team_images/Chetan.png" height="150px;" class="rounded-circle z-depth-1"
                            alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold subtitle-color mb-0">Chetan Surana R</h5>
                    <p class="blue-text">@username</p>
                    <p class="text-uppercase blue-text">
                        <strong>Ninja</strong>
                    </p>
                    <p class="grey-text">Bio.</p>
                    <p class="blue-text">
                        <i class="fab fa-facebook-f"> </i>:
                        <a><strong>@fbhandle</strong></a>
                    </p>
                    <p class="blue-text">
                        <i class="fab fa-github"> </i>:
                        <a><strong>@fbhandle</strong></a>
                    </p>
                    <p class="blue-text">
                        <i class="fab fa-twitter"> </i>:
                        <a><strong>Add handle</strong></a>
                    </p>
                    <p class="blue-text">
                        <i class="fab fa-instagram"> </i>:
                        <a><strong>Add handle</strong></a>
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="card card-image background-upcoming-event">
                                <div class="text-white text-center d-flex align-items-center rgba-black-light py-2 px-4 rounded">
                                    <div>

                                        <h4 class="py-3 font-weight-bold">
                                            Hey! username, We hope you are having a great day.
                                        </h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            

                
            
                        </div>
                    </div>
                </div>



            </div>

        </div>



    </section>

</main>